* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    text-decoration: none;
}

:root { /*Variáveis:*/
    --cor-sombra: rgba(0, 0, 0, 0.5);
    --cor-sombra-2: rgba(0, 0, 0, 0.9);
    --preto: #222;
    /*Verdes:*/ 
    --menta: #E8F5E9; /*body e section*/
    --cha: #C8E6C9; /*cartões e caixas*/
    --folha-clara: #A5D6A7; /*citações ou luzes*/
    --jardim: #81C784; /*botões segundários*/
    --floresta: #66BB6A; /*botões primários*/
    --pinho: #43A047; /*cabeçalhos*/
    --selva: #388E3C; /*bordas e ícones*/
    --musgo: #2E7D32; /*textos marcados ou com ênfase*/
    --verde-escuro: #1B5E20; /*rodapé e navbar*/
    /*Marrons:*/
    --areia: #D7CCC8; /*fundo neutro*/
    --taupe: #A1887F; /*destaques*/
    --terra: #795548; /*títulos*/
    --cafe: #5D4037; /*botões:hover e cabeçalhos*/
    --madeira: #3E2723; /*rodapé e navbar   segundária*/
    /*Brancos:*/
    --branco: #F8F9F9; /*cor de texto - 1*/
    --cinza-claro: #e8e8e8;
    --branco-puro: #fff; /*cor de texto - 2*/
    --branco-queimado: #fdf9f0; /*fundo de seções*/
    --off-white: #F5F5F5; /*containers*/
    --branco-gelo: #ECEFF1; /*divisórias*/
}

/*-- Ícone do whatsapp:*/
.whatsapp {
    width: 66px;
    height: 66px;
    background-color: var(--branco);
    border-radius: 50%;
    position: fixed;
    text-align: center;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
}

.whatsapp a {
    width: 60px;
    height: 60px;
    background: #15592e;
    background: linear-gradient(45deg, rgba(21, 89, 46, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(37, 211, 102, 1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp i {
    color: #f1f1f1;
    font-size: 200%;
}

/*-- Corpo:*/
body {
    background-color: var(--menta);
}

/*-- Cabeçalho:*/
header {
    background-color: var(--pinho);
    width: 100%;
    padding: 10px;
    position: relative;
}

.logotipo {
    width: 66px;
    height: 66px;
    position: absolute;
    margin: 5px;  
}

.logotipo img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(255, 254, 244, 0.4);
}

h1 {
    color: var(--branco);
    margin: 10px 0 10px 88px;
}

h2 {
    color: var(--menta);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
}

/*-- Menu de Navegação:*/
.navbar {
    width: 100%;
    background-color: var(--verde-escuro);
    display: flex;
    justify-content: center; /*Pode alterar para 'center' se preferir*/
    padding: 1rem;
    gap: 2rem;
    position: sticky; /*Para deixar o menu nav "grudado" na tela*/
    top: 0; /*Define que irá ficar grudado no topo*/
    z-index: 10; /*Impede que outro elemento fique por cima do menu nav*/
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-link {
    color: var(--branco);
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

/*-- Nav: Menu Dropdown*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cha);
    padding: .5rem;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    min-width: 180px;
}

.nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}

/*-- Opções do menu dropdown*/
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: .9rem;
}

.dropdown-menu li:hover {
    background-color: var(--folha-clara);
    font-weight: bold;
}

.dropdown-menu a {
    color: var(--musgo);
}